<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"> 
        <!--===============================================================================================-->

	    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <!--===============================================================================================-->

        <style>

            body{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: initial;
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                background: -webkit-linear-gradient(bottom, rgb(206, 204, 204), white);

            }
            .topnav{
                margin-top: 16px;
                margin-bottom: 48px;
                background-color: blanchedalmond;
                text-align: left;
                text-decoration: none;
            }
            .topnav h4{
                text-decoration: none;
                font-size: 20px;
            }

            .footer{
                color: #888888;
                border-top: 1px solid #141414;
                margin-top: 16px;
                padding: 16px 0;
                text-align: center;
            }

            .sidenav{
                margin-bottom: 98px;
                margin-left: 16px;
                margin-right: 16px;
                max-width: 250px;
                position: fixed;
                float: left;
                display: block;
            }

            h1{
                font-size: 55px;
                margin-bottom: 16px;
                color: lightslategray;
            }

            h2{
                font-size: 30px;
                color: blueviolet;
            }

            b{
                color: blueviolet;
            }

            p{
                color: rgb(86, 106, 124);
            }

            .abstract{
                font-family: sans-serif;
                max-width: 650px;
                margin: 0 auto;
                padding: 0 16px;
            }

            .content{

                font-family: sans-serif;
                max-width: 650px;
                margin: 0 auto;
                padding: 0 16px;

            }

            ul{
                margin: 30px;
                font-size: 20px;
                padding: 20px;
                color: blue;
            }

            
        </style>
    </head>
    <!-- <script>
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script> -->
    <body>
        <div class="topnav"  id="google_translate_element">
			<!-- <div id="google_translate_element"></div> -->
		  <h4> <a href="/voting/home">E-voting In Blockchain</a></h4> 
        </div>
        


        <div class="main-content">

            <div class="sidenav">

                <ul>
                    <li>What is Blockchain</li></a>
                    <li>Why Blockchain</li>
                    <li>Advantages of Blockchain</li>
                    <li>Homomorphic Encryption</li>
                </ul>
            </div>

            <div class="abstract">
                <h1>E-voting In Blockchain</h1>
                <p>
                    The aspect of security and transparency is a threat from still widespread elections with the conventional voting system. General elections still use a centralized system, there is one organization that manages it which has full control over the voting process.
                </p>
            </div>

           
            <br><br>
            <div class="content">
                <div class="one">
                    <h2>What is Blockchain</h2>
                    <p>A blockchain is, in the simplest of terms, a time-stamped series of immutable records of data that is managed by a cluster of computers not owned by any single entity. Each of these blocks of data (i.e. block) is secured and bound to each other using cryptographic principles (i.e. chain).

                        <br>So, what is so special about it and why are we saying that it has industry-disrupting capabilities?
                        
                        <br>The blockchain network has no central authority — it is the very definition of a democratized system. Since it is a shared and immutable ledger, the information in it is open for anyone and everyone to see. Hence, anything that is built on the blockchain is by its very nature transparent and everyone involved is accountable for their actions.</p>
            
                </div>
                <br>
                <div class="two">
                    <h2>Why Blockchain</h2>
                    <p>An election is a major concern for a healthy democracy. Fair and transparent elections at low cost are the main aim of this system. With the use of blockchain and cryptography, end to end verifiable voting systems can be implemented. Blockchain technology has many advantages like security and transparency, while homomorphic encryption ensures the anonymity of voters.
                        <br><br><b>Eligibility:</b>   Only the person who has registered himself/herself with the Election Commission of India is eligible to cast a vote for an election.
                        <br><br><b>Vote Verifiability:</b>  Each voter can verify whether his vote is cast and counted correctly.
                        <br><br><b>Result Verifiability:</b> Anyone can verify whether the tallying of votes is done correctly.
                        <br><br><b>Paper Free:</b>  The voting process does not include any use of paper for confirming the vote to the voter which eliminates any chances of vote-buying.
                        <br><br><b>Coercion-Resistance:</b>  Coerced voting is not possible since the coercer cannot identify the candidate to which the voter has cast his vote, on the other hand, the voter can easily prove that he voted for the coercer’s candidate.
                        <br><br><b>Integrity:</b> It makes sure that the casting of the vote is accurate and the tallying process is consistent.
                        <br><br><b>Voter Privacy:</b> The privacy of voters is maintained since no one can trace the votes to corresponding voters. 

                    </p>
                </div>
                <br>
                <div class="three">
                    <h2>Advantages of Blockchain</h2>
                    <p>Blockchain technology is one of the solutions to overcome these problems in the voting system because it embraces a decentralized system and the entire databases are owned by many users. It enables a group of people to maintain a public database that is owned, updated, and maintained by every user, but controlled by no one. Blockchain-based implementation will remove the issue of database manipulation. So blockchain technology has the potential to make e-voting more acceptable and reliable.
                    </p>
                </div>
                <br>
                <div class="four">
                    <h2>Homomorphic Encryption</h2>
                    <p>Homomorphic encryption is used to make sure that votes hold its conﬁdentiality by encrypting and calculating all votes without decrypting. Homomorphic encryption is an encryption method which enables any data to remain encrypted while it is being processed and manipulated. This lets you or a third party use encrypted data functions without exposing data values. It allows for the manipulation and study of encrypted data as if they were in plaintext format without decrypting them.
                    </p>
                    <br>
                    <p>Here are the 4 sets used for Homomorphic Encryption</p>
                        <table style="width: 472.478px; border-color: black;" border="1">
                        <tbody>
                        <tr>
                        <td style="width: 319px;" colspan="3">
                        <p><strong>A</strong></p>
                        </td>
                        <td style="width: 389.478px;" colspan="3">
                        <p><strong>B</strong></p>
                        </td>
                        </tr>
                        <tr>
                        <td style="width: 56px;">
                        <p><strong>&alpha;</strong></p>
                        </td>
                        <td style="width: 111px;">
                        <p><span style="font-weight: 400;">vote</span></p>
                        </td>
                        <td style="width: 152px;">
                        <p><strong>&beta;</strong></p>
                        </td>
                        <td style="width: 81px;">
                        <p><strong>&alpha;</strong></p>
                        </td>
                        <td style="width: 127px;">
                        <p><span style="font-weight: 400;">vote</span></p>
                        </td>
                        <td style="width: 181.478px;">
                        <p><strong>&beta;</strong></p>
                        </td>
                        </tr>
                        <tr>
                        <td style="width: 56px;">
                        <p><span style="font-weight: 400;">0</span></p>
                        </td>
                        <td style="width: 111px;">
                        <p><span style="font-weight: 400;">Yes</span></p>
                        </td>
                        <td style="width: 152px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        <td style="width: 81px;">
                        <p><span style="font-weight: 400;">0</span></p>
                        </td>
                        <td style="width: 127px;">
                        <p><span style="font-weight: 400;">Yes</span></p>
                        </td>
                        <td style="width: 181.478px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        </tr>
                        <tr>
                        <td style="width: 56px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        <td style="width: 111px;">
                        <p><span style="font-weight: 400;">Yes</span></p>
                        </td>
                        <td style="width: 152px;">
                        <p><span style="font-weight: 400;">0</span></p>
                        </td>
                        <td style="width: 81px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        <td style="width: 127px;">
                        <p><span style="font-weight: 400;">Yes</span></p>
                        </td>
                        <td style="width: 181.478px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        </tr>
                        <tr>
                        <td style="width: 56px;">
                        <p><span style="font-weight: 400;">0</span></p>
                        </td>
                        <td style="width: 111px;">
                        <p><span style="font-weight: 400;">No</span></p>
                        </td>
                        <td style="width: 152px;">
                        <p><span style="font-weight: 400;">0</span></p>
                        </td>
                        <td style="width: 81px;">
                        <p><span style="font-weight: 400;">0</span></p>
                        </td>
                        <td style="width: 127px;">
                        <p><span style="font-weight: 400;">No</span></p>
                        </td>
                        <td style="width: 181.478px; text-align: center;">
                        <p style="text-align: left;"><span style="font-weight: 400;">0</span></p>
                        </td>
                        </tr>
                        <tr>
                        <td style="width: 56px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        <td style="width: 111px;">
                        <p><span style="font-weight: 400;">No</span></p>
                        </td>
                        <td style="width: 152px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        <td style="width: 81px;">
                        <p><span style="font-weight: 400;">1</span></p>
                        </td>
                        <td style="width: 127px;">
                        <p><span style="font-weight: 400;">No</span></p>
                        </td>
                        <td style="width: 181.478px; text-align: center;">
                        <p style="text-align: left;"><span style="font-weight: 400;">0</span></p>
                        </td>
                        </tr>
                        </tbody>
                        </table>

                        <br><br><br>
                        <table style="width: 472px; border-color: black;" border="1">
                            <tbody>
                            <tr>
                            <td style="width: 319px;" colspan="3">
                            <p><strong>C</strong></p>
                            </td>
                            <td style="width: 389px;" colspan="3">
                            <p><strong>D</strong></p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 56.7391px;">
                            <p><strong>&alpha;</strong></p>
                            </td>
                            <td style="width: 110.261px;">
                            <p><span style="font-weight: 400;">vote</span></p>
                            </td>
                            <td style="width: 152px;">
                            <p><strong>&beta;</strong></p>
                            </td>
                            <td style="width: 81px;">
                            <p><strong>&alpha;</strong></p>
                            </td>
                            <td style="width: 127px;">
                            <p><span style="font-weight: 400;">vote</span></p>
                            </td>
                            <td style="width: 181px;">
                            <p><strong>&beta;</strong></p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 56.7391px;">
                            <p><span style="font-weight: 400;">0</span></p>
                            </td>
                            <td style="width: 110.261px;">
                            <p><span style="font-weight: 400;">Yes</span></p>
                            </td>
                            <td style="width: 152px;">
                            <p><span style="font-weight: 400;">0</span></p>
                            </td>
                            <td style="width: 81px;">
                            <p><span style="font-weight: 400;">0</span></p>
                            </td>
                            <td style="width: 127px;">
                            <p><span style="font-weight: 400;">Yes</span></p>
                            </td>
                            <td style="width: 181px;">
                            <p><span style="font-weight: 400;">0</span></p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 56.7391px;">
                            <p><span style="font-weight: 400;">1</span></p>
                            </td>
                            <td style="width: 110.261px;">
                            <p><span style="font-weight: 400;">Yes</span></p>
                            </td>
                            <td style="width: 152px;">
                            <p>1</p>
                            </td>
                            <td style="width: 81px;">
                            <p><span style="font-weight: 400;">1</span></p>
                            </td>
                            <td style="width: 127px;">
                            <p><span style="font-weight: 400;">Yes</span></p>
                            </td>
                            <td style="width: 181px;">
                            <p>0</p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 56.7391px;">
                            <p><span style="font-weight: 400;">0</span></p>
                            </td>
                            <td style="width: 110.261px;">
                            <p><span style="font-weight: 400;">No</span></p>
                            </td>
                            <td style="width: 152px;">
                            <p>1</p>
                            </td>
                            <td style="width: 81px;">
                            <p><span style="font-weight: 400;">0</span></p>
                            </td>
                            <td style="width: 127px;">
                            <p><span style="font-weight: 400;">No</span></p>
                            </td>
                            <td style="width: 181px; text-align: center;">
                            <p style="text-align: left;">1</p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 56.7391px;">
                            <p><span style="font-weight: 400;">1</span></p>
                            </td>
                            <td style="width: 110.261px;">
                            <p><span style="font-weight: 400;">No</span></p>
                            </td>
                            <td style="width: 152px;">
                            <p>0</p>
                            </td>
                            <td style="width: 81px;">
                            <p><span style="font-weight: 400;">1</span></p>
                            </td>
                            <td style="width: 127px;">
                            <p><span style="font-weight: 400;">No</span></p>
                            </td>
                            <td style="width: 181px; text-align: center;">
                            <p style="text-align: left;">1</p>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <br><br>
                            <p>For example, if the dynamically generated Reference String (R) for 4 candidates standing in an election is (0,1,1,0). Where,
                                <br>0 is the reference bit for the 1st candidate.
                                <br>1 is the reference bit for the 2nd candidate.
                                <br>1 is the reference bit for the 3rd candidate.
                                <br>0 is the reference bit for the 4th candidate.
                                <br>Let’s assume the randomly selected set by the system is “A” and the voter “V” wants to vote for the 3rd candidate ( i.e. “Yes” for the 3rd candidate and “No” for all the other candidates) whose reference bit is 1.
                                <br>Now in order to generate the “β string”, set “A” and the Reference String (R) i.e. (0,1,1,0) will be used.
                                <br>The “β” string is generated as follows using set “A” from the Reference Table mentioned above:
                                <br>For 1st candidate, the reference bit is 0   and the candidate does not receive the vote from voter "V", i.e. a "NO" so the beta bit generated is 0.
                                <br>For 2nd candidate, the reference bit is 1 and the candidate does not receive the vote from voter "V", i.e. a "NO" so the beta bit generated is 1.
                                <br>For 3rd candidate, the reference bit is 1  and the candidate receives the vote from voter "V", i.e. a "YES" so the beta bit generated is 0.
                                <br>For 4th candidate, the reference bit is 0  and the candidate does not receive the vote from voter "V", i.e. a "NO" so the beta bit generated is 0.
                                <br>Hence, after combining all the generated beta bits i.e. 0, 1, 0 and 0, the final “β string” becomes (0,1,0,0).
                                </p>
                </div>
            </div>

            

        </div>

        <div class="footer">
                <h5>© E-voting in Blockchain</h5>
                <p>Privacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Terms of Use  
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cookies</p>
                <h6>Pune, India 2020</h6>
        </div>

    </body>
</html>