<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Blockchain based voting</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'voting/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/util.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/main.css'%}">
<!--===============================================================================================-->
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


	<style>
		.topnav {
			overflow: hidden;
			background-color: #333;

		}

		.topnav p {
			float: right;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}

		.topnav p:hover {
			background-color: #ddd;
			color: black;
		}
	</style>
</head>
<script>
	//function call to google translate
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
	}

	function validateOTP(){

	var OTP = "{{OTP}}";
	var email = "{{email}}";
	var actualOTP = parseInt(OTP);
	console.log("email: "+email);
	var enteredOTP = document.getElementsByName('otp')[0].value;
	console.log("email: "+email);
	var errorMessage = '';


	if (enteredOTP != actualOTP){
		errorMessage+='Incorrect OTP\n';
	}

	if(errorMessage.length > 1){
		alert(errorMessage);
	}

	else{
		var query = "<form id = 'ootp' action = '/voting/enterOTP/' method = 'POST'><input type = 'hidden' name = 'otp' value = '" + enteredOTP + "'><input type = 'hidden' name = 'email' value = '" + email + "'></form>";
		console.log("Query: "+query);
		document.write(query);
		document.getElementById('ootp').submit();
		alert("OTP Correct");
	}

	}

</script>

<body>
	<div class="topnav"  id="google_translate_element">
			<!-- <div id="google_translate_element"></div> -->
		  <p> <a href="/voting/home">Home</a></p><p>Welcome</p> 
	</div>
	<script>
		//var timer = setTimeout(function(){
			//window.location='/voting/forgot_password/'},60000);
	</script>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-30">
				<!-- <form class="login100-form validate-form"> -->
					<!-- <div class="login100-form-avatar"> -->
						<!-- <img src="images/avatar-01.jpg" alt="AVATAR"> -->
					<!-- </div> -->

					<span class="login100-form-title p-t-20 p-b-45">
						 Please enter the 6 digit OTP sent to your Email {{OTP}}
					</span>

					<div class="wrap-input100 validate-input m-b-10">
						<input class="input100" type="number" name="otp" placeholder="Enter OTP">
						<!-- <span class="focus-input100"></span> -->
						<!-- <span class="symbol-input100"> -->
							<!-- <i class="fa fa-user"></i> -->
						</span>
					</div>

					<div class="container-login100-form-btn p-t-10 p-b-30">
                       
						<button class="login100-form-btn" onclick = validateOTP()>
							SUBMIT
                        </button>
                        
					</div>
				<!-- </form> -->
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'voting/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'voting/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'voting/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'voting/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'voting/js/main.js'%}"></script>

</body>
</html>