<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Blockchain based voting</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'voting/images/icons/favicon.ico'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'voting/css/main.css'%}">
<!--===============================================================================================-->
		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<!--===============================================================================================-->
</head>
<script>
		function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
	
	</script>
<script>

	function validate_voter(){
		
		var voterID = document.getElementsByName('voterID')[0].value;
		var username = document.getElementsByName('username')[0].value;
        var email = document.getElementsByName('email')[0].value;
		var age = document.getElementsByName('age')[0].value;
		var region = document.getElementsByName('region')[0].value;
		var password = document.getElementsByName('pass')[0].value;
		var confirmpassword = document.getElementsByName('Confirmpass')[0].value;
		
		console.log(voterID, username, age, region, password, confirmpassword);
		var errorMessage = '';
		
		if(age<18){
		errorMessage += 'Age is incorrect!\n';
		}
		
		if(password != confirmpassword){
		
		errorMessage += 'Password does not match!\n';
		}
		
		if(errorMessage.length > 1){
			alert(errorMessage);
		} 
		
		else{
			var query = "<form id = 'register' action = '/voting/register/' method = 'POST'> <input type = 'hidden' name = 'voter_id' value = '" + voterID.toString() + "'>  <input type = 'hidden' name = 'username' value = '" + username.toString() + "'> <input type = 'hidden' name = 'age' value = '" + age.toString() + "'> <input type = 'hidden' name = 'region' value = '" + region.toString() + "'> <input type = 'hidden' name = 'email' value = '" + email.toString() + "'><input type = 'hidden' name = 'password' value = '" + password.toString() + "'>  </form>";
		
			document.write(query);
			document.getElementById('register').submit();
			//alert("Registration Complete!!");
		}
	}
	
</script>

<body>
		<div class="topnav"  id="google_translate_element">
			<!-- <div id="google_translate_element"></div> -->
		  <p> <a href="/voting/home">Home</a></p>
	</div>
	<div class="limiter">
		<div class="container-login100">
			<!-- <div class="wrap-login100 p-t-80 p-b-30"> -->
				<span class="login100-form-title p-t-20 p-b-45">
                Thank You {{user}}. <br>Registration Is Complete!<br>
                
                </span>
                
            <!-- </div> -->
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'voting/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'voting/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'voting/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'voting/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'voting/js/main.js'%}"></script>

</body>
</html>